@font-face {
    font-family: 'GT Ultra';
    src: url('GTUltra-Light.otf') format('woff2'), /* Modern Browsers */
         url('GTUltra-Light.otf') format('woff'); /* Older Browsers */
    /* Add any additional font properties here */
  }

  body {
    font-family: 'GT Ultra'
  }

  body {
    margin: 0;
  }
  
  a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
    letter-spacing: -2.5px;
    pointer-events: auto;
  }

  a:hover{
    color: #CC0000;
  }

  @media (max-width: 1500px){
    .center-container{
        margin-top: 20vh;
    }
    .navigation-container{
        left: 50%;
        transform: translateX(-50%);
        margin-top: 3%;
    }
    .back-button{
        margin-left: 12%;
    }
    .logo-container{
        width: 15%;
     }
     .text-container{
        width: 40%;
     }
     .instagram-icon{
        width: 2%;
    }
    a{
        font-size: 2.2vw;
    }
    .back-button{
        margin-top: 5%;
        margin-left: 12%;
    }
}

@media (max-width: 1152px){
    a{
        font-size: 3vw;
    }

    .book1 , .book2 , .book3 {
        width: 25%;
        position: relative;
    }

    .row{
        margin-bottom: 47%;
    }
    .logo-container{
        width: 17%;
     }
     .instagram-icon{
        width: 3%;
        margin-top: 9%;

    }
}

@media (max-width: 768px){

    a{
        font-size: 4.1vw;
    }

    .back-button{
        margin-left: 6%;
    }
    .logo-container{
        width: 19%;
     }
     .instagram-icon{
        width: 4%;
    }
}

@media (max-width: 500px){
    a{
        font-size: 7vw;
    }
    .center-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 5%;
        margin-top: 10vh;
     }
    .logo-container{
        width: 33%;
        margin-bottom: 5%;
     }
     .text-container{
        width: 90%;
     }
     .instagram-icon{
        width: 7%;
    }
}


.center-container{
    display: flex;
    justify-content: center;
}

.logo-container{
   margin-right: 5%;
}

img{
    width: 100%;
}

.text-container {
    line-height: 1.25;
    /* Apply font family to text container */
    font-family: 'GT Ultra';
}

.text-container a {
    /* Inherit font properties from the parent (.text-container) */
    font: inherit;
    letter-spacing: normal;
}

.instagram-icon{
    transition: fill 0.3 ease-in-out;
    margin-left: 90%;
    margin-top: 7%;
    margin-left: 88%;
}

.instagram-icon:hover{
    fill: #CC0000;
  }
